.todo {
	background-color: gray;
	color: red;
	padding: 0;
	margin: 10px;
}

figcaption {
	font-size: small;
}

hgroup > * {
	margin: 0;
}

section {
	border: thin solid black;
	padding: 5px;
	margin-bottom: 10px;
}

.demoFrames {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	width: 540px;
	height: 400px;
	background-color: red;
}

.listItemTitle {
	padding-top: 10px;
	padding-bottom: 2px;
	margin: 0;
}

.listItemDetails {
	font-size: small;
	padding: 0;
	margin: 0;
}

.interactiveFigure {
	border: medium solid red;
}

.staticFigure {
	border: medium solid gray;
}

.newTerm {
	font-style: italic;
}